body {
    background-image: url("../images/bkggold.png");
    background-size:auto;
    background-color:#fff;
    margin:0 0 0 0;
}
a {
    text-decoration: none;
    color:#fff;
}
h1 {
    color:rgb(78, 78, 78);
    border-bottom:2px solid rgba(128, 128, 128, 0.205);
    text-align:center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3 {
    text-align:center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
p {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#me {
    width:30%;
    border-radius: 50%;
    height:auto;
}
.bar {
    pointer-events:none;
}
#floattext {
    float: right;
    width: 55%;
    padding:0 18px 14px 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-wrap: break-word;
}
#pagetitle {
    font-size:30px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    padding-top:20px;
    color:#fdd600;
}
.flex-container {
    flex-direction: column;
    min-height: 100vh;
  }
.ptitle {
    padding-left:10px;
}
footer {
    background-color:#4498d3;
    color:rgb(197, 185, 153);
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height:3.5em;
    border-top:4px solid #fdd600;
    box-shadow: 0 -1px 1px 0 #00000014;
}
#copyright {
    color:gainsboro;
    text-align:center;
}
input {
    border-radius:5px;
    border:1px solid #4498d3;
    box-shadow: inset 0px 1px 1px 1px #00000014;
}
textarea {
    border-radius:5px;
    border:1px solid #fdd600;
    box-shadow: inset 0px 1px 1px 1px #00000014;
}
iframe {
    border-radius:5px;
    box-shadow: 0px 1px 2px 2px #00000005;
}
.row {
    margin: 8px -16px;
}
.row, .row > .column1 {
    padding: 15px;}
.column1 {
    float: left;
    width: 30%;
}
.column2 {
    float: none;
    width: 50%;
    margin:0 auto;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#map {
    float:right;
    padding-right:5%;
}
.contentabout {
    background-image: url("../images/contentbkg.png");
    background-size:auto;
    padding: 0px 0 0 0;
    box-shadow:0px 1px 1px 1px #00000025;
    width:960px;
    padding-bottom: 3.5rem;
    margin:0 auto;
    border-radius:7px;
    bottom:0;
}
.content { 
    background-color:#fff;
    padding: 0px 0 0 0;
    box-shadow:0px 1px 1px 1px #00000025;
    width:960px;
    padding-bottom: 3.5rem;
    margin:0 auto;
    border-radius:7px;
    bottom:0;
}
.contentcontact { 
    background-color:#fff;
    padding: 0px 0 0 0;
    box-shadow:0px 1px 1px 1px #00000025;
    width:960px;
    padding-bottom: 3.5rem;
    margin:0 auto;
    border-radius:7px;
    bottom:0;
    min-height: 350px;
}
.contactform {
    text-align:center;
    font-weight:600px;
    float:left;
    width: 40%;
    padding:10px 0 10px 0;
    zoom:1.25;
}
#container {
    padding: 25px 0 0 40px;
}
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}
.navhead {
    height:75px;
    width:100%;
    background-color:#fff;
    box-shadow:0px 1px 1px 1px #00000025;
}
#logo {
    width: 240px;
    height: 75px;
    background-color: #4498d3;
    margin-left: 17.5%;
    text-align: center;
    float: left;
    
}
#logopic {
    width: auto;
    height: 80px;
}
.topnav {
    background-color: #fff;
    overflow: hidden;
    height: 75px;
    margin-right:7%;
    padding:0px 0px 0px 0px;
    position:sticky;
    float:right;
}
  
.topnav a {
    color: #9b9b9b;
    padding: 27.5px 10px 55px 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:capitalize;
    text-align: center;
    float: right;
}
  
.topnav a:hover {
    background-color: rgb(250, 250, 250);
    color: black;
}
  
.topnav a.active {
    vertical-align: middle;
    color: #4a68aa44;
}
.picbox {
    object-fit: scale-down;
}
.pic {
    box-shadow: 0px 1px 3px 0px #00000014;
    border-radius:5px;
}
.pic:hover {
    opacity: 0.7;
}
.myImg {
    border-radius: 7px;
    cursor:copy;
    transition: 0.3s;
    border:1px solid gray;
}
.myImg:hover {
    opacity: 0.7;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}